<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" >
                    <a class="nav-link" href="/" th:href="@{/}">Pàgina principal <span class="visually-hidden">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nadador/list" th:href="@{/nadador/list}">Gestió de nadadors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/list" th:href="@{/user/list}">Àrea privada</a>
                </li>
            </ul>
        </div>
    </div>
</nav>