<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <title>Crear nou Nadador</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content">
<h2>Nou nadador</h2>
<form action="#" th:action="@{/nadador/add}"
      th:object="${nadador}" method="post">

    <div class="form-group row">
        <label class="control-label col-sm-1" for="nomNadador">Nom:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="nomNadador" placeholder="Nom i cognoms" maxlength="50" th:field="*{nom}" style="width : 217px" />
            <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></div>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-1" for="nFede">N. Federat:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="nFede" maxlength="10" th:field="*{numFederat}" style="width : 217px"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-1" for="Pais">Pais:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="Pais" maxlength="20" th:field="*{pais}" style="width : 217px"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-1" for="edat">Edat:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="edat" maxlength="20" th:field="*{edat}" style="width : 217px"/>
            <div th:if="${#fields.hasErrors('edat')}" th:errors="*{edat}" class="text-danger"></div>
        </div>
    </div>

    <div class="form-group row">
        <label for="exampleSelect1" class="form-label col-sm-1">Gènere:</label>
        <div class="col-sm-4">
        <select class="form-select" id="exampleSelect1" type="text" th:field="*{genere}" style="width : 217px">
            <option value="No seleccionat">Selecciona el gènere</option>
            <option value="Femeni">Femeni</option>
            <option value="Masculi">Masculi</option>
            <option value="Altre">Altre</option>
        </select>
            <div th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}" class="text-danger"></div>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Afegeix nadador</button>
        </div>
    </div>
</form>
</div>
</body>
</html>