<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <title>Gestionar Nadadors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content">
<h2>Llista de Nadadors</h2>
<div th:if="${#lists.isEmpty(nadadors)}">
    No hi ha nadadors en la base de dades
</div>
<table th:unless="${#lists.isEmpty(nadadors)}" class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Num. Federat</th>
        <th scope="col">Nom</th>
        <th scope="col">Pais</th>
        <th scope="col">Edat</th>
        <th scope="col">Gènere</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="nadador: ${#lists.sort(nadadors, metodecomparador)}" class="table-active">
        <td th:text="${nadador.numFederat}"></td>
        <td th:text="${nadador.nom}"
            th:class="${#strings.equals(nadador.genere, 'Femení')} ?
                font-weight-bold : font-italic"></td>
        <td><a class="btn btn-primary" th:text="${nadador.pais}" th:href="@{/classificacio/perprova/{pais}(pais=${nadador.pais})}"></a></td>
        <td th:text="${nadador.edat}"></td>
        <td th:text="${nadador.genere}"></td>
        <td><a class="btn btn-warning" th:href="@{/nadador/update/{nom}(nom=${nadador.nom})}">Edita</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/nadador/delete/{nom}(nom=${nadador.nom})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add">Afegeix nadador</a>
</div>
</body>
</html>
