<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <title>Modifica prova</title>
    <meta charset ="UTF-8" />
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <h2>Edita prova</h2>
    <form action="#" th:action ="@{/prova/update}"
          th:object="${prova}" method ="post">
        <div class="form-group row">
            <label class="control-label col-sm-1" for="nomProva">Nom:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nomProva" th:field="*{nom}" style="width : 217px"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-1" for="descripcio">Descripció:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="descripcio" th:field="*{descripcio}" style="width : 217px"/>
            </div>
        </div>

        <fieldset class="form-group row" id="group">
            <label class="control-label col-sm-1">Tipus:</label>
            <div class="col-sm-1">
                <label class="form-check-label" for="tipus1">Individual</label>
                <div class="col-sm-1">
                    <input type="radio" th:field ="*{tipus}" value="Individual" id="tipus1" name="group"/>
                </div>
            </div>
            <div class="col-sm-1">
                <label class="form-check-label" for="tipus1">Grupal</label>
                <div class="col-sm-1">
                    <input type="radio" th:field ="*{tipus}" value="Grupal" id="tipus2" name="group"/>
                </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <label class="control-label col-sm-1" for="data">Data:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="data" th:field="*{data}" style="width : 217px"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Modifica prova</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>

